/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Universal Selector */
html {
    scroll-behavior: smooth;

}

/* Body Part */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Header Section Design Start */

/* Navbar Section Design Start  */
.header-section {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
    gap: 30rem;
}

.company-name {
    font-size: 24px;
    font-weight: 700;
    color: #131313;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    padding: 0 15px;
}

#sign-up {
    color: #FC766AFF;
    cursor: pointer;
}

#log-in {
    color: #00203FFF;
    padding: 8px 5px;
    cursor: pointer;
}

/* Navbar Section Design End  */

/* Header information Section Design Start  */
.header-info {
    margin-top: 50px;
}

.header-info-container {
    text-align: center;
}

.header-info-title {
    color: #131313;
    font-size: 62px;
    font-weight: 700;
}

.header-info-description {
    color: #727272;
    font-size: 16px;
    font-size: 500;
    margin: 10px 0 30px 0;
}

.header-info-button {
    border: none;
    width: 165px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF900E;
    color: #00203FFF;
    border-radius: 6px;
    margin-bottom: 30px;
    cursor: pointer;

}

/* Header information Section Design End  */

/* Banner Section Design Start */

.banner-container {
    text-align: center;
}

#banner-photo {
    width: 75%;
    height: 75%;
    border-radius: 5px;
    padding: 30px 0;
}

/* Banner Section Design End */
/* Header Section Design End */

/* Main Section Design Start */
/* Feature Section Start */
.feature-section {
    margin-top: 50px;
    margin-left: 200px;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-photos {
    flex: 1;
}

.feature-image {
    height: 240px;
    width: 240px;
    padding: 10px 10px;
}

.feature-info {
    padding: 15px 80px;
}

.feature-title {
    font-size: 38px;
    font-weight: 700;
    color: #131313;
}

.feature-title-first-color {
    color: #727272;
}

.feature-title-second-color {
    color: #D64161FF;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
}

.feature-button {
    border: none;
    width: 180px;
    height: 60px;
    background-color: #FF900E;
    font-size: 18px;
    color: #00203FFF;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.feature-title,
.feature-description,
.feature-button {
    padding: 18px 0;
}

/* Feature Section End */

/* Service Of Feature Section Design Start */
.service-of-features {
    margin-top: 20px;
}

.service-of-features-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 110px;
}

.service-left-part {
    flex: 1;
    margin-top: 100px;
}

.service-title {
    font-size: 28px;
    color: #131313;
    font-weight: 700;
    margin-left: 100px;
    margin-bottom: 20px;
    border-left: 4px solid #FF900E;
    padding: 0 10px;
}

.service-title-first-style {
    color: #E94B3CFF;
}

.service-title-second-style {
    color: #D64161FF;
}

.service-description {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    margin-left: 100px;
    margin-bottom: 30px;

}

.feature-service-title {
    color: #131313;
    font-size: 18px;
    font-weight: 600;
}

.feature-service-description {
    color: #727272;
    font-size: 15px;
    font-size: 500;
}

.service-type {
    width: 450px;
    height: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 15px 80px;
}

.service-right-part {
    margin-top: 70px;
}

.architecture-photo {
    width: 500px;
    height: 700px;
}

.service-experience-button {
    width: 220px;
    height: 130px;
    border: none;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    position: relative;
    left: 100px;
    bottom: 180px;
}

.service-button-first-style {
    font-size: 44px;
    font-weight: 700;
    color: #5B84B1FF;
}

.service-button-second-style {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #00203FFF;
}

/* Service Of Feature Section Design End */

/* Some Interesting Facts Section Design Start */
.interesting-facts {
    margin-left: 200px;
    margin-top: -40px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px 50px;
}

.facts-title {
    color: #D64161FF;
    font-size: 28px;
    margin-left: 60px;
}

.facts-description {
    padding: 20px 80px;
    line-height: 30px;
}

.person-name {
    color: #D64161FF;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    cursor: pointer;
}

ul li {
    margin-bottom: 20px;
    color: #435E55FF;
    font-weight: 600;

}

.facts-details {
    list-style-type: none;
}

.fa-solid {
    color: #2BAE66FF;
    padding: 0 10px;
}

/* Some Interesting Facts Section Design End */

/*  Functionalism Section Design Start  */
.our-functionalism {
    margin-top: 70px;
    padding: 40px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.functionalism-concepts {
    text-align: center;
}

.functionalism-title,
.functionalism-info {
    margin-bottom: 15px;
}

.functionalism-title {
    color: #990011FF;
    font-size: 28px;
    font-weight: 700;
}

.functionalism-info {
    text-align: left;
    margin-left: 400px;
    color: #6E6E6DFF;
    font-weight: 500;
    font-size: 16px;
}

.our-principals-list {
    text-align: left;
    margin-left: 600px;
    list-style-type: none;
}

.our-principals-list li {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #435E55FF;
}

/*  Functionalism Section Design End  */

/* Our Success Section Design Start */
.our-success {
    margin-bottom: 70px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 30px 0;
}

.success-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.success-box {
    height: 180px;
    width: 200px;
    border: 1px solid #D64161FF;
    text-align: center;
    padding: 30px 30px;
    border-radius: 8px;
    transition: 1s ease-in-out transform;

}

.success-box:hover {
    transform: scale(1.1);
    background-color: #00203FFF;
    cursor: pointer;
}

.success-box:hover .success-number {
    color: #D64161FF;
}

.success-box:hover .success-achivement {
    color: #9CC3D5FF;
}

.success-icon {
    padding: 5px 0;
}

.success-number {
    color: #424242;
    font-size: 28px;
    font-weight: 600;
}

.success-achivement {
    color: #727272;
    font-size: 16px;
    font-weight: 600;
}

/* Our Success Section Design End */

/* Our Sponsor Section Design Start */
.our-sponsor {
    margin-bottom: 30px;
}

.sponsor-details {
    text-align: center;
}

.sponsor-title {
    color: #131313;
    font-size: 28px;
    font-weight: 700;
}

.sponsor-letter {
    text-align: left;
    margin-left: 350px;
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
}

.sponsor-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.sponsor-icon {
    padding: 10px 20px;
    width: 140px;
    height: 50px;
}

/* Our Sponsor Section Design End */

/* Main Section Design End */

/* Footer Section Design Start */
/* Contact Form Section Design Start */
.contact-form {
    position: relative;
    left: 400px;
    margin: 25px 0;
    background-color: #00203FFF;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
}

legend {
    font-size: 26px;
    color: #949398FF;
    position: relative;
    top: 50px;
    text-decoration: underline;
}

.form-div {
    text-align: center;
    position: relative;
    left: 170px;
    top: 100px;
}

.form-div>input,
textarea {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    border: none;
}

::placeholder {
    color: #00203FFF;
    font-weight: 600;
    font-size: 15px;
}

.form-div>input[type="text"] {
    width: 250px;
    height: 45px;
    background-color: #DE1B76;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s ease-in-out transform;
}

.form-div>input[type="email"] {
    width: 250px;
    height: 60px;
    background-color: #7239C0;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s ease-in-out transform;
}

.form-div>textarea {
    width: 250px;
    height: 110px;
    background-color: #E66C0F;
    padding: 10px 20px;
    border-radius: 8px;
    resize: none;
    cursor: pointer;
    transition: 0.6s ease-in-out transform;
}

.form-div>textarea:hover {
    transform: scale(1.2);
}

.form-div>input[type="email"]:hover {
    transform: scale(1.1);
}

.form-div>input[type="text"]:hover {
    transform: scale(1.2);
}
.submit:hover{
    transform: scale(1.1);
}
.submit{
    height: 60px;
    width: 120px;
    background-color: #131313;
    color: #DE1B76;
    position: relative;
    margin-right: 330px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.6s ease-in-out transform;
}
/* Contact Form Section Design End */
.footer-part {
    margin: 50px 0;
}

.footer-container {
    background-color: #FFF4E7;
    border-radius: 10px;
    height: 70px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.footer-text {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* Footer Section Design End */

/* Responsive Design Start */
/* For Mobile Device */
@media only screen and (max-width:480px) {
    /* Navbar */
    .navbar-container {
        flex-direction: column;
        gap: 0rem;
    }

    .navbar a {
        display: block;
        padding: 10px 15px;
    }

    #sign-up,
    #log-in {
        padding: 10px 10px;
    }

    /* Header Info */
    .header-info-description {
        padding: 5px 15px;
    }

    #banner-photo {
        width: 100%;
        height: 100%;
    }

    /*Quick List Of Feature Section */
    .feature-section {
        margin-left: 0px;
    }

    .feature-container {
        flex-direction: column;
    }

    .feature-photos {
        padding: 0 70px;
    }

    .feature-title,
    .feature-description,
    .feature-button {
        padding: 12px 0;
    }

    /* Service Of feature Section */
    .service-of-features {
        margin-top: 20px;
        margin-left: 40px;
    }

    .service-of-features-container {
        flex-direction: column;
        padding: 0;
        flex-wrap: wrap;
        align-content: center;
    }

    .service-left-part {
        flex: 1;
        margin-top: 50px;
    }

    .service-title {
        margin-left: 50px;
    }

    .service-description {
        margin-left: 10px;
        margin-bottom: 30px;
        padding: 0 50px;
    }

    .service-type {
        margin: 10px 40px;
        font-size: 14px;
    }

    .feature-service-description {
        font-size: 14px;
    }

    .service-right-part {
        margin-top: 20px;
    }

    .architecture-photo {
        width: 100%;
        height: 100%;
        margin-bottom: 8px;
    }

    .service-experience-button {
        width: 200px;
        height: 100px;
        position: relative;
        left: 0;
        bottom: 0;
    }

    /* Interesting Facts */
    .interesting-facts {
        margin-left: 0;
        margin-top: 30px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        padding: 20px 0;
        position: relative;
        left: 25px;
    }

    .facts-title {
        color: #D64161FF;
        font-size: 24px;
        margin-left: 0;
        padding: 10px 10px;
    }

    .facts-description {
        padding: 20px 80px;
        line-height: 30px;
    }

    .person-name {
        color: #D64161FF;
        font-weight: 600;
        font-style: italic;
        font-size: 18px;
        cursor: pointer;
    }

    ul li {
        margin-bottom: 20px;
        color: #435E55FF;
        font-weight: 600;

    }

    .facts-details {
        list-style-type: none;
    }

    .fa-solid {
        color: #2BAE66FF;
        padding: 0 10px;
    }

    /* Principal & Functionalism Section */
    .our-functionalism {
        margin-top: 40px;
        padding: 40px 0;

    }

    .functionalism-info {
        font-size: 14px;
        padding: 5px 20px;
        margin-left: 20px;
    }

    .our-principals-list {
        margin-left: 100px;
    }

    /* Success Section */
    .success-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .sponsor-letter {
        margin-left: 0;
        padding: 10px 30px;
        font-size: 14px;
    }

    .sponsor-icon-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    /* Footer Section */
    .footer-container {
        width: 460px;
        padding: 10px 28px;
        text-align: revert;
    }

    /* Contact Form */
    .contact-form {
        left: 30px;
        width: 350px;
        padding: 0 30px;
    }

    .form-div {
        left: 25px;
    }

    legend {
        font-size: 22px;
        right: 0;

    }
    .submit{
        margin-right: 40px;
    }
}

/* Responsive Design End */